<div class="col-md-8 col-md-offset-2">
    <!-- Add ngNativeValidate, Angular disables HTML5 validator by default-->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
        <div class="form-group">
            <label for="content">Content</label>
            <input
                    type="text"
                    id="content"
                    class="form-control"
                    ngModel
                    name="content"
                    required>
        </div>
        <!-- Or [disabled]="!f.valid" on button if wanting to use angular validation-->
        <button class="btn btn-primary" type="submit">Save</button>
    </form>
</div>